* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(49, 143, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header ul {
    list-style: none;
}

header ul li {
    color: white;
    padding: 0 20px;
}

header ul {
    display: flex;
}

.logo {
    color: white;
}