* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-image: url("img/denver.jpg");
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-evenly;
  background-repeat: repeat-x;
  background-size: auto cover;
  animation: defilement 60s linear infinite;
  min-width: 375px;
}

@keyframes defilement {
0% {
  background-position: 0 0;
}
100% {
  background-position: 100% 0;
}
}

.filtres {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 13px;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.filtres select {
  padding: 5px 10px;
  border-radius: 20px;
  width: 100px;
}

button:hover {
  background-color: rgb(131, 131, 131);
  color: rgb(234, 234, 234);
}

.nb {
  display: flex;
  flex-direction: column;
}

.nb h6 {
  font-size: 11px;
  text-align: center;
  color: gray;
}

.filtres button {
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(139, 255, 110);
  color: rgb(74, 74, 74);
  width: 100px;
}

.filtres button:hover {
  background-color: rgb(0, 159, 0);
  color: rgb(255, 255, 255);
}

.filtres form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

#connection-status {
  font-size: 12px;
}

.menu_gauche {
  height: 95%;
  width: 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 5px;
}

.menu_gauche div {
  background-color: rgba(39, 39, 39, 0.75);
  border-radius: 50px;
  padding: 30px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.688);
}

.menu_gauche ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenu {
  background-color: rgba(255, 255, 255, 0.503);
  height: 95%;
  width: 80%;
  border-radius: 50px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  /*grid-auto-rows: minmax(100px, auto);*/
  background-color: #6969699c;
  box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 7px 0px;
  margin: 0 5px;
}

/*Media Query pour les écrans étroits (par exemple, les mobiles) */
@media screen and (max-width: 1150px) {
  body{
    flex-direction: column;
    height: auto;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden; 
    max-height: 100%;
    row-gap: 30px;
    background-size: cover;
    justify-content: space-around;
    padding-top: 20px;
    min-width: 375px;
  }

  .menu_gauche {
    background-color: rgba(100, 100, 100, 0);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 80%;
  }

  .menu_gauche div {
    height: 100%;
    width: 50%;
  }

  
  .contenu {
    background-color: rgba(112, 177, 126, 0);
    width: 90%;
    max-width: 100%;
    height: 100%;
    display: inline-block;
    box-shadow: none;
  }

  .contenu div {
    margin-bottom: 20px;
  }
  
  .un {
    height: 50vh;
  }

  .deux {
    height: 50vh;
  }

  h1.titre{
    font-size: small;
    width: 120px;
  }

  div.menu_gauche {
    height: 350px;
  }

}


.un {
  grid-column: 1/6;
  grid-row: 1;
}
.deux {
  grid-column: 6/11;
  grid-row: 1
}
.trois {
  grid-column: 1/5;
  grid-row: 2;
}
.quatre{
  grid-column: 5/9;
  grid-row: 2;
}

.trois, .quatre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.canvas {
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.cinq {
  grid-column: 9/11;
  grid-row: 2;
}

#cinq {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  padding: 0;
  grid-gap: 10px;
}

#cinq div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  font-size: xx-large;
  flex-direction: column;
}

.contenu h6 {
  font-size: 15px;
  color: grey;
  text-align: center;
}

.contenu div {
  border-radius: 50px;
}

a {
  text-decoration: none;
}

.contenu .graphique { 
  padding: 15px;
  background-color: #ebebebd9;
}

.menu_gauche ul button {
  width: 120px;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
}

.my_chart {
  width: 100%;
  height: 100%;
}

.current {
  background-color: rgb(72, 157, 255);
  color: white;
}

/*
----- ACCUEIL ------
*/

.menu_accueil{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contenu_accueil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contenu_accueil p {
  width: 50%;
  text-align: justify;
  padding-top: 20px;
}

.contenu_accueil h2 {
  padding-top: 20px;
}

.titre {
  font-family: Revalia;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.leafletMap, .heatMap {
  height: 100%; 
  width: 100%;
}

.denvergovlink{
    color: blue;
    text-decoration: none;
}

.denvergovlink:hover {
  text-decoration: underline; 
}

#loading, #loading2{
  position: absolute; 
  z-index: 999; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: relative;
}